Flask==0.10.1
Flask-SocketIO==1.2
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.2
argparse==1.2.1
eventlet==0.17.4
greenlet==0.4.9
itsdangerous==0.24
puzpy==0.2.1
python-engineio==0.8.3
python-socketio==0.8.1
six==1.9.0
wsgiref==0.1.2
