.container {
    float:left;
    padding: 10px;
}

.row {
    clear: left;
}
.alert {
    background-color: #F88;
    border: 2px solid #8B0000;
    display: none;
}

.crossword {
    margin-bottom: 20px;
    /* no selection when double clicked */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.crossword table {
    border-collapse: collapse;
    margin: 0 auto;
    table-layout: fixed;
}

.crossword td {
    border: 1px solid black;
    height: 30px;
    width: 30px;
    min-height: 30px;
    min-width: 30px;
    font-size: 25px;
    font-family: sans-serif;
    position: relative;
}

.filled {
    background-color: black;
}

.circle {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid #999;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.crossword .current-clue {
    background-color: cyan;
}

.crossword .current {
    background-color: yellow;
}

.cell-text {
    text-align: center;
    vertical-align: center;
    position: relative;
}

.cell-number {
    font-size: 10px;
    position: absolute;
    top: 0px;
    z-index: 2;
}

.option-select, .upload-select{
    color: #00E;
    font-weight: bold;
    cursor: pointer;
    /* no selection when double clicked */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.option-list, .upload-list{
    display: none;
}

#main{
/*     border: 1px solid #0F0; */
}

.cluebox{
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 500px;
/*     border: 1px solid #F00; */
    margin: 10px;
    padding: 10px;
}

.clues {
    overflow-y: scroll;
    padding: 0;
/*     border: 1px solid #00F; */
}

.clue-header {
    font-weight: bold;
/*     text-align: center; */
}

.clues ul {
    overflow-x: hidden;
    list-style: none;
    padding: 0;
}

.clues .complete {
    text-decoration: line-through;
    color: #555;
}

.headline {
    width: 100%;
    height: 60px;
/*     text-align: center; */
    vertical-align: middle;
    font-size: 40px;
/*     border: 1px solid #F00; */
}

.clues .current-clue {
    background-color: yellow;
}
